body {
   background-color: #f3ca20;
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}
.App {
   width: 100vw;
   height: 100vh;
   display: flex;
   justify-content: center;
   align-items: center;
}
button {
   border: none;
}
p {
   line-height: 1.4em;
}
